strong{
  color:rgb(255, 255, 255) ;
}
h2{
color: rgb(29, 153, 29);
}

body{
  background-image:url(file:///Users/oscarmund/Documents/screenshot%20fuer%20webseite.png);
  background-position: center;
  background-repeat:no-repeat;
  background-size: auto;
}
p{
  color: rgb(255, 255, 255);
}



.flex {
  display:flex;
  justify-content:flex-start;
  flex-wrap:wrap;
}

.flex > DIV {
  margin:2px;
  background:#ccc;
  border:1px solid #bbb;
  font-size:24pt;
  color:#666;
}

.flex > DIV > A {
  display:block;
  padding:25px;
}

.flex > DIV:hover {
  animation:scaling 0.2s;
}

/* animation keyframes */
@keyframes scaling {
	  0% { transform:scale3d( 1, 1, 1 ); }
	 25% { transform:scale3d( 0.98, 0.98, 0.98 ) rotate(5deg); }
	 50% { transform:scale3d( 0.95, 0.95, 0.95 ) rotate(10deg); }
	 75% { transform:scale3d( 0.98, 0.98, 0.98 ) rotate(5deg); }
	100% { transform:scale3d( 1, 1, 1 ); }
}

input::placeholder {
	color: navy;
	transition: color 1.5s;
}

input:focus::placeholder {
	color: silver;
}
